.footer__margin {
  margin-bottom: 24px;
  margin-right: 18px;
}
.footer__margin:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 425px) {
  .footer__margin {
    margin-bottom: 32px;
  }
  .footer__margin:last-of-type {
    margin-bottom: 48px;
  }
}
