.header__lang-link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #FFFFFF;
  text-align: right;
  padding-left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header__lang-link:hover {
  transition: all 2s ease;
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}
