.place__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  color: #FFFFFF;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  @media screen and (max-width: 960px) {
    .place__title {
      font-size: 3.5rem;
      line-height: 3.875rem;
    }
  }
  @media screen and (max-width: 768px) {
    .place__title {
      font-size: 42px;
      line-height: 46px;
    }
  }
  @media screen and (max-width: 425px) {
    .place__title {
      max-width: calc(100% - 16px*2);
      margin-left: 1rem;
      font-size: 2rem;
      line-height: 2.1875rem;
    }
  }
