.video__background {
  width: 583px;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
  position: absolute;
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .video__background {
    width: 456px;
  }
}
@media screen and (max-width: 768px) {
  .video__background {
    width: 352px;
  }
}
@media screen and (max-width: 425px) {
  .video__background {
    width: 343px;
  }
}
