.intro__list {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #FFFFFF;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .intro__list {
    max-width: 100%;
  }
}
