.cover__subtitle {
  max-width: calc(100% - 412px*2);
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  z-index: 2;
  margin-bottom: 245px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    max-width: calc(100% - 332px*2);
    margin-bottom: 195px;
  }
}
@media screen and (max-width: 768px) {
  .cover__subtitle {
    max-width: calc(100% - 204px*2);
    margin-bottom: 115px;
  }
}
@media screen and (max-width: 525px) {
  .cover__subtitle {
    max-width: calc(100% - 16px*2);
    margin-bottom: 33px;
    font-size: 0.9rem;
    line-height: 1rem;
  }
}
@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 0.875rem;
  }
}
