.video__item {
  position: relative;
  width: 583px;
  margin-right: 18px;
}
.video__item:last-of-type {
  margin-right: 0px;
}
@media screen and (max-width: 1260px) {
  .video__item {
    width: 560px;
  }
}
@media screen and (max-width: 1190px) {
  .video__item {
    width: 480px;
  }
}
@media screen and (max-width: 1024px) {
  .video__item {
    width: 456px;
  }
}
@media screen and (max-width: 768px) {
  .video__item {
    width: 352px;
  }
}
@media screen and (max-width: 425px) {
  .video__item {
    width: 343px;
  }
}
