.footer__link {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #FFFFFF;
}

.footer__link:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.8;
  transition: all 2s ease;
}

@media screen and (max-width: 725px) {
  .footer__link {
    font-size: 1.3rem;
    line-height: 1.45rem;
  }
}
@media screen and (max-width: 425px) {
  .footer__link {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
