.footer__copyright {
  margin: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #FFFFFF;
}
@media screen and (max-width: 425px) {
  .footer__copyright {
    padding-left: 0;
    font-size: 0.875rem;
    line-height: 0.875rem;
  }
}
