.comment {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 382px;
  margin-left: 0;
  margin-right: 19px;
}

.comment:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 1024px) {
  .comment {
    width: 296px;
  }
}
@media screen and (max-width: 1000px) {
  .comment {
    margin-right: 0px;
    width: 382px;
    margin-top: 47px;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .comment {
    width: 343px;
  }
}
