.intro {
  width: 53.90625%;
  margin-left: 9.25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    width: 93.75%;
    margin-left: 1.5rem;
  }
}
@media screen and (max-width: 425px) {
  .intro {
    width: 90%;
    margin-left: 1rem;
  }
}
