@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../blocks/body/body.css");
@import url("../blocks/page/page.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__lang-link/header__lang-link.css");
@import url("../blocks/header/__lang-link/_decoration/header__lang-link_decoration.css");
@import url("../blocks/header/__lang-links/header__lang-links.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/lead/lead.css");
@import url("../blocks/lead/__title/lead__title.css");
@import url("../blocks/lead/__subtitle/lead__subtitle.css");
@import url("../blocks/lead/__image/lead__image.css");
@import url("../blocks/lead/__caption/lead__caption.css");
@import url("../blocks/intro/intro.css");
@import url("../blocks/intro/__list/intro__list.css");
@import url("../blocks/intro/__text/intro__text.css");
@import url("../blocks/intro/__title/intro__title.css");
@import url("../blocks/intro/__list-font-weight/intro__list-font-weight.css");
@import url("../blocks/photo-grid/photo-grid.css");
@import url("../blocks/photo-grid/__item/photo-grid__item.css");
@import url("../blocks/photo-grid/__list/photo-grid__list.css");
@import url("../blocks/places/places.css");
@import url("../blocks/place/place.css");
@import url("../blocks/place/__image/place__image.css");
@import url("../blocks/place/__paragraph/place__paragraph.css");
@import url("../blocks/place/__paragraph-margin/place__paragraph-margin.css");
@import url("../blocks/place/__title/place__title.css");
@import url("../blocks/place/__website-link/place__website-link.css");
@import url("../blocks/place/__website-url-heading/place__website-url-heading.css");
@import url("../blocks/place/__website/place__website.css");
@import url("../blocks/videos/videos.css");
@import url("../blocks/videos/__title/videos__title.css");
@import url("../blocks/videos/__subtitle/videos__subtitle.css");
@import url("../blocks/videos/__container/videos__container.css");
@import url("../blocks/video/__item/video__item.css");
@import url("../blocks/video/__item-title/video__item-title.css");
@import url("../blocks/video/__item-subtitle/video__item-subtitle.css");
@import url("../blocks/video/__icon-play/video__icon-play.css");
@import url("../blocks/video/__duration/video__duration.css");
@import url("../blocks/video/__background/video__background.css");
@import url("../blocks/comments/__container/comments__container.css");
@import url("../blocks/comments/__title/comments__title.css");
@import url("../blocks/comments/__subtitle/comments__subtitle.css");
@import url("../blocks/cover/cover.css");
@import url("../blocks/cover/__background/cover__background.css");
@import url("../blocks/cover/__subtitle/cover__subtitle.css");
@import url("../blocks/cover/__title/cover__title.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
@import url("../blocks/footer/__link/footer__link.css");
@import url("../blocks/footer/__list/footer__list.css");
@import url("../blocks/footer/__margin/footer__margin.css");
