.lead__caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.875rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0;
}



@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 1.5rem;
  }
}
@media screen and (max-width: 425px) {
  .lead__caption {
    margin-left: 1rem;
  }
}
