.cover__title {
  max-width: calc(100% - 312px*2);
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 32px;
  z-index: 2;
  margin-top: 245px;
  margin-bottom: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1224px) {
  .cover__title {
    max-width: calc(100% - 232px*2);
    margin-top: 195px;
  }
}
@media screen and (max-width: 1020px) {
  .cover__title {
    max-width: calc(100% - 104px*2);
    margin-top: 115px;
  }
}
@media screen and (max-width: 740px) {
  .cover__title {
    max-width: calc(100% - 16px*2);
    margin-top: 33px;
    font-size: 56px;
    line-height: 58px;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 16px;
  }
}
