.cover__title {
  width: 35rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  text-align: center;
  color: #FFFFFF;
  margin-top: 15.3125rem;
  padding-bottom: 2rem;
  z-index: 2;
}
