.cover__title {
  max-width: calc(100% - 312px*2);
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 2rem;
  z-index: 2;
  margin-top: 245px;
  margin-bottom: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: calc(100% - 232px*2);
    margin-top: 195px;
  }
}
@media screen and (max-width: 768px) {
  .cover__title {
    max-width: calc(100% - 104px*2);
    margin-top: 115px;
  }
}
@media screen and (max-width: 525px) {
  .cover__title {
    max-width: calc(100% - 16px*2);
    margin-top: 33px;
    font-size: 3.5rem;
    line-height: 3.1875rem;
    padding-bottom: 1.5rem;
  }
}
@media screen and (max-width: 425px) {
  .cover__title {
    max-width: calc(100% - 16px*2);
    font-size: 2rem;
    line-height: 2.1875rem;
    padding-bottom: 1rem;
  }
}
