.place {
  display: grid;
  grid-template-columns: 46.75% 49.2%;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 48px 40px;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.place:first-of-type {
  padding-top: 5.75rem;
}
.place:last-of-type {
  padding-bottom: 5.75rem;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 47.4% 49.47%;
    gap: 48px 32px;
  }
}
@media screen and (max-width: 950px) {
  .place {
    grid-template-columns: 45% 47%;
  }
}
@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 47.22% 48.89%;
    gap: 3rem 1.75rem ;
    padding-bottom: 4.5rem;
  }
  .place:first-of-type {
    padding-top: 5.5rem;
  }
  .place:last-of-type {
    padding-bottom: 5.5rem;
  }
}
@media screen and (max-width: 750px) {
  .place {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
  }
  .place:first-of-type {
    padding-top: 4rem;
  }
  .place:last-of-type {
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 425px) {
  .place {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    row-gap: 2rem;
    padding-bottom: 3rem;
  }
  .place:first-of-type {
    padding-top: 4rem;
  }
  .place:last-of-type {
    padding-bottom: 4rem;
  }
}
