.videos {
  margin: 0 auto;
}
@media screen and (max-width: 1260px) {
  .videos {
    max-width: calc(100% - 30px*2);
  }
}
@media screen and (max-width: 1024px) {
  .videos {
    max-width: calc(100% - 48px*2);
  }
}
@media screen and (max-width: 840px) {
  .videos {
    max-width: calc(100% - 12px*2);
  }
}
@media screen and (max-width: 768px) {
  .videos {
    max-width: calc(100% - 24px*2);
  }
}
@media screen and (max-width: 425px) {
  .videos {
    max-width: calc(100% - 16px*2);
  }
}
